@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
}

body {
  height: 100vh;
  display: grid;
  place-content: center;
  color: #fafafa;
  font-family: 'Poppins', sans-serif;
  animation: bganimate 10s ease infinite;

  background: linear-gradient(
    30deg,
    rgba(0, 228, 255, 1) 0%,
    rgba(2, 70, 212, 1) 80%
  );

  background-image: url('../assets/img/background.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

.container > h1 {
  margin-bottom: 10px;
}
button i {
  color: #45e;
}
.container {
  padding: 2rem;
  border-radius: 10px;
  backdrop-filter: blur(8px);
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 4px 4px 10px 0 rgba(0, 0, 0, 0.3);
}
/* Style Form */
#form {
  display: flex;
  gap: 5px;
}
#form input {
  font-size: 1rem;
  padding: 0.375rem 1rem;
  border-radius: 60px;
  border: none;
  font-family: 'Poppins', sans-serif;
  box-shadow: 2px 2px 5px 0 rgba(0, 0, 0, 0.3);
}
#form input::placeholder {
  color: #6977f181;
}
#form button {
  padding: 1rem;
  border-radius: 50%;
  border: none;
  cursor: pointer;
  transition: 0.2s;
  box-shadow: 2px 2px 5px 0 rgba(0, 0, 0, 0.3);
}

#form i {
  font-size: 1rem;
}
/* Style Result */
.result-container {
  margin-top: 20px;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.temp-container {
  text-align: center;
  grid-column: 1/-1;
}
.temp-container h1 {
  font-size: 4rem;
}
.temp-container h2 {
  font-size: 1.5rem;
}
.humidity,
.wind {
  display: flex;
  align-items: center;
  gap: 5px;
  padding: 10px;
  font-size: 1.25rem;
}

.loading {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 10px solid #fafafa;
  border-bottom: 10px solid transparent;
  grid-column: 1/-1;
  animation: loading 0.8s linear infinite;
}

@keyframes loading {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* @media (max-width: 425px) {
  .container {
    width: 320px;
  }
} */
